.content {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    min-width: 280px;
    max-width: 380px;
    background-color: #1e293b;
    padding: 40px;
}
.home {
    display: flex;
    justify-content: start;
    gap: 7px;
    margin-top: 40px;
}
.svg.search {
    height: 35px;
}
.titulo {
    color: #fff;
}
.options {
    display: grid;
    padding: 20px;
    gap: 10px;

    & a {
        color: #cbd5f5;
        font-weight: 500;
        cursor: pointer;
        font-size: 18px;
    }

    & a:hover {
        color: #fff;
    }
}
.rota {
    text-decoration: none;
}
.user {
    display: flex;
    gap: 15px;
}
.pagina {
    width: 80%;
    background-color: #f5f6fa;
}
.logo-iniciais {
    padding: 7px;
    border-radius: 50%;
    background-color: #f5f6fa;
}
.iniciais {
    color: #1e293b;
    font-weight: 600;
}
.nome-email {
    display: flex;
    flex-direction: column;
}
.nome {
    color: #f5f6fa;
    font-weight: 600;
}
.email {
    color: #64666d;
    font-size: 13px;
    font-weight: 500;
}
.usuario-logout {
    display: flex;
    gap: 45px;
    align-items: center;
}
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbd5f53d;
    padding: 7px;
    border-radius: 50%;
}